{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Buggles plugin for Craft CMS 3.x
 *
 * Video Field Input
 *
 * @author    @cole007
 * @copyright Copyright (c) 2018 @cole007
 * @link      http://ournameismud.co.uk/
 * @package   Buggles
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{% if thumbnail %}
	{% set image = craft.assets({ id: thumbnail}).first %}
	<div style="max-width: 360px; ">
		<img src="/{{ image.url }}" style="width: 100%; " />
	</div>
{% endif %}

{{ forms.textField({
        instructions: 'Paste your Vimeo or Youtube URL here 🎥',
        id: name,
        name: name,
        value: value})
}}
